@media screen and (min-width: 450px) {
  body {
    background-image: url(../images/patternBackgroundDesktop.svg);
    background-repeat: repeat-x;
  }

  main {
    section {
      article {
        div {
          width: 95%;
          padding: 15px;
          grid-template-columns: 1fr 1fr 1fr;
          grid-template-rows: 1fr 1fr;
          grid-template-areas:
            "img plan change"
            "img price change";

          img {
            width: 60px;
            padding: 0;
          }
        }

        button.pay {
          width: 95%;
        }
      }
    }
  }
}

@media screen and (min-height: 750px) {
  body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}