@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;800;900&display=swap");
/* font-family: 'Red Hat Display', sans-serif; */

$font1: "Red Hat Display", sans-serif;

$color1: rgb(117, 106, 241);
$color2: hsl(245, 75%, 52%);
$color3: hsl(225, 100%, 98%);
$color4: hsl(224, 23%, 55%);
$color5: hsl(223, 47%, 23%);
$color6: rgb(223, 232, 255);

$color-white: white;
